= simple_form_for(@poll, html: {novalidate: 'novalidate'}) do |form|
  = form.error_notification
  = form.input :question, placeholder: "Write your question..."
  = form.input :answers, as: :array
  = form.button :submit, "Create poll"
