= simple_form_for(@poll, url: root_path, 
                         remote: true, 
                         defaults: { label: false },
                         html: { novalidate: 'novalidate', 
                                 autocomplete: "off"       }) do |form|
  = form.input :question, placeholder: "write your question here"
  = form.input :answers, as: :array
  = form.input :allow_multiple, as: :boolean, label: "Allow multiple answers"
  = form.input :allow_duplication, as: :boolean, label: "Allow duplication"
  = form.button :submit, "Create poll"
