.results-container
  #question= @poll.question
  - @poll.answers_with_values.each do |answer, value|
    .answer
      .text
        = answer
      .value
        = pluralize(value, 'vote')
        (
        %span.percentage
          = @percentages[answer]
          = '%'
        )
    .filled{id: "#{@percentages[answer]}"}
  #total
    Total votes - 
    = @total_votes
  .text-center
    %a{href: voting_path(@poll)}
      %button.clear-btn Go to voting

  -# Chart data
  = content_tag(:div, '', id: "poll-chart", 
                          data: { votes: @poll.answers_with_values.values,
                                  answers: @poll.answers_with_values.keys,
                                  percentages: @percentages.values })
.chart
  %canvas#resultChart